appdirs==1.4.4
bench-it==1.0.1
click==7.1.2
colorama==0.4.4
configparser==5.0.1
diff-cover==2.6.1
inflect==4.1.0
Jinja2==2.11.2
jinja2-pluralize==0.3.0
MarkupSafe==1.1.1
oyaml==1.0
pathspec==0.8.0
pluggy==0.13.1
Pygments==2.7.2
PyYAML==5.3.1
six==1.15.0
sqlfluff==0.3.6
